<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Team Mnagment Project</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" type="text/css" href ="{% static 'my_app/style.css' %}"/>
  </head>
  <body>
          <h1>Edit team member</h1>
          <h2 id="h2">Edit contact info, location and role.</h2>

          <div class="form-group">
            <form method="POST" action="">

              <label> <h3 id="info">Info </h3></label>
                {% csrf_token %}
                <p>{{ form.firstname }}</p>
                <p>{{ form.lastname }}</p>
                <p>{{ form.email }}</p>
                <p>{{ form.phonenumber }}</p>
              <label> <h3>Role </h3></label>
                <p>{{ form.role }}</p>

          <div>
            <a class = "delete-member" href="{% url 'deleteMember' member.id %}"> <input type="button" value="Delete"  class="button" id="delete" /> </a>
            
            <input type="submit" value="Save" class="button" id="save">
            </div>

      </form>
    
  </body> 
</html>  