<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Mnagment Project</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" type="text/css" href ="{% static 'my_app/style.css' %}"/>
  </head>
  <body>
      <form method="POST" action="{% url 'editMember' %}">
        {% csrf_token %}

          <h1>Edit team member</h1>
          <h2 id="h2">Edit contact info, location and role.</h2>

          <div style="margin: 10px auto; width: 50%">
            <input type="hidden" value="{{member.id}}" name="id" readonly/>
          </div>


          <div style="margin: 10px auto; width: 50%">
            <label><h3> Info </h3></label>
          </div>

          <div style="margin: 10px auto; width: 50%">
            <input type="text" name="firstname" value="{{member.firstname}}" placeholder = "Charlene" class="input">
          </div>

          <div style="margin: 10px auto; width: 50%">
            <input type="text" name="lastname" value="{{member.lastname}}" placeholder = "Pham" class="input">
          </div>

          <div style="margin: 10px auto; width: 50%">
            <input type="email" name="email" value="{{member.email}}" placeholder = "charlene@instawork.com" class="input">
          </div>
 
          <div style="margin: 10px auto; width: 50%">
            <input type="tel" name="phonenumber" value="{{member.phonenumber}}" placeholder = "415-310-1619" class="input">
          </div>

          <div style="margin: 10px auto; width: 50%">
            <label><h3> Role </h3></label>
        </div>

        <div style="margin: 10px auto; width: 50%">
          <input type="radio" id="regular" name="role" value="0"checked class ="radiobutton">
          <label  for="regular" class="radiotext">Regular - Can't delete members</label>
        </div>
        
        <div style="margin: 10px auto; width: 50%">
          <input type="radio" id="admin" name="role" value="1" class ="radiobutton">
          <label for="admin" class="radiotext"> Admin - Can delete members</label>
        </div>
        

          <div style="margin: 10px auto; width: 50%">
            <a class = "delete-member" href="{% url 'deleteMember' member.id %}"> <input type="button" value="Delete"  class="button" id="delete" /> </a>
            
            <input type="submit" value="Save" class="button" id="save">
            </div>

      </form>
    
  </body> 
</html>  